# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "f6870fcf56f55630ebabb28cfb522b40"
name = "cotizadorv5"
application_url = "https://cotizadorv3.fly.dev"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_metaobjects,read_products,write_metaobjects,write_products"

[auth]
redirect_urls = [
  "https://cotizadorv3.fly.dev/api/auth"
]

[app_proxy]
url = "https://cotizadorv3.fly.dev/apps/cotizador"
subpath = "cotizador"
prefix = "apps"
